@model TheFabricsLab.Areas.Identity.Data.AppUser
@{
}

<h2 class="text-center">Hi, User!</h2>

@if (Model != null)
{
    <div>
        First Name: @Model.FirstName
    </div>
    <div>
        Last Name: @Model.LastName
    </div>
    <div>
        Date of Birth: @Model.DateOfBirth.ToString("MM/dd/yyyy")
    </div>
    <div>
        Phone Number: @Model.PhoneNumber
    </div>
    <div>
        Newsletter Subcription: @Model.NewsletterSubscription
    </div>
    <div>
        Created At: @Model.CreatedAt.ToString("MM/dd/yyyy")
    </div>
}
else
{
    <p>No user information available.</p>
}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>